@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
// @include foundation-xy-grid-classes;
@include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

// Typography
body {
  font-weight: 500;
}

h2,
.heading-h2 {
  font-size: 22px;
  font-weight: 600;
}

h3,
.heading-h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 15px;
}

h4,
.heading-h4 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: lowercase;
}

p {
  font-weight: 500;
}

a,
.hyperlink {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.heading-medium {
  line-height: 1.05;
  color: #2d2e33;
  font-family: neue-haas-grotesk-display;
  font-weight: 900;
  letter-spacing: 0;
  font-size: clamp(28px, 4vw, 2.8rem);
}

.heading-large {
  font-size: clamp(3rem, 7vw, 6rem);
  line-height: 1;
  font-weight: 900;
  letter-spacing: 0;
  font-style: normal;
  margin-bottom: 25px;
}

.heading-xlarge {
  line-height: 0.85;
  color: #000;
  font-family: neue-haas-grotesk-display;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: clamp(4.5rem, 14.5vw, 7.8rem);
  word-wrap: break-word;
  margin-bottom: 20px;
}

.text {
  &--banner {
    font-size: clamp(20px, 3vw, 24px);
    line-height: 1.3;
    color: #2d2e33;
    font-family: neue-haas-grotesk-display;
    font-weight: 700;
    letter-spacing: 0;
  }

  &--red {
    color: #e31617;
  }

  &--lead {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 0;
  }

  &--meta {
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    font-weight: 600;
    letter-spacing: 0;
  }

  &--red-highlight {
    background: #e31617;
    color: #fff;
    display: inline-block;
    padding: 3px 10px 5px;
    margin-left: -10px;
  }

  &--centered {
    text-align: center;
  }

  &--light {
    color: #fff;
  }
}

// Buttons
.button {
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
  box-shadow: 1px 1px 0px #000, 2px 2px 0px #000, 3px 3px 0px #000,
    4px 4px 0px #000;
  transition: all 0.3s ease;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    box-shadow: 1px 1px 0px #e31617, 2px 2px 0px #e31617, 3px 3px 0px #e31617,
      4px 4px 0px #e31617;
    background: #fff;
    color: #000;
  }

  &--secondary {
    background-color: #000;
    color: #fff;
    border-color: #fff;
    box-shadow: 1px 1px 0px #fff, 2px 2px 0px #fff, 3px 3px 0px #fff,
      4px 4px 0px #fff;
    &:hover,
    &:focus {
      box-shadow: 1px 1px 0px #e31617, 2px 2px 0px #e31617, 3px 3px 0px #e31617,
        4px 4px 0px #e31617;
      background: #000;
      color: #fff;
    }
  }

  &--icon {
    font-size: 20px;
    padding: 10px 20px;
  }
}

.arrow-link {
  color: #2d2e33;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;

  &::after {
    content: "\f30b";
    font-family: Fontawesome;
    margin-left: 5px;
    font-size: 14px;
  }
}

// Main Nav
$scrollhide-nav-transition-speed: 0.5s;

.scrollhide-nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  transition: transform $scrollhide-nav-transition-speed
    cubic-bezier(0.86, 0, 0.07, 1);

  &.hidden {
    transform: translateY(-100%);
  }
}

.title-bar {
  background: #fff;
  min-height: 75px;
  z-index: 9999;

  .menu-icon {
    margin-left: 1rem;

    &.dark::after {
      height: 3px;
    }
  }

  &__home-link {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

  &__logo {
    width: 60px;
    margin: 0 auto;
    display: block;
  }
}

.nav-container {
  max-width: 1400px;
  margin: 0 auto;
  z-index: 9999;
  width: 100%;
  display: flex;
}

.top-bar {
  background-color: #eee;
  border-bottom: 10px solid #000;
  z-index: 9999;

  @include breakpoint(medium) {
    background: #fff;
    border-bottom: none;
  }

  ul {
    background: none;
  }

  .top-bar-left {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 35%;
    align-self: center;
  }
  .top-bar-right {
    align-self: center;
    width: 35%;
  }
  .nav-logo {
    width: 60px;
  }

  .top-bar-right ul li a {
    text-align: left;
    @include breakpoint(medium) {
      text-align: right;
    }
  }
}

.menu {
  a,
  .button {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.7rem 1rem;
    font-family: "rigid-square", sans-serif;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
  }
  &-icon.dark {
    width: 25px;
    height: 25px;
  }
}

#main-nav {
  ul {
    li {
      a {
        font-size: 34px;
        line-height: 2;
      }
      @include breakpoint(medium) {
        a {
          line-height: 1;
          font-size: 16px;
        }
      }
    }
  }
}

// Banner
.banner {
  flex-direction: column;
  justify-content: center;

  &--fullheight {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &--70height {
    min-height: calc(-75px + 75vh);
    display: flex;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
  }

  &__button-container {
    margin-left: 0;
    @include breakpoint(medium) {
      position: absolute;
      bottom: 10px;
      width: 60px;
      left: 0;
      right: 0;
      margin-left: auto !important;
      margin-right: autO !important;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
      flex-direction: row;
    }
  }
}

// Card
.card {
  border: none;
  &__image {
    border: 3px solid #000;
    box-shadow: 1px 1px 0px #000, 2px 2px 0px #000, 3px 3px 0px #000,
      4px 4px 0px #000;
    margin-left: -4px;
  }

  &__text {
    h3 {
      margin-top: 15px;
      font-size: 28px;
      line-height: 1.2;
      font-weight: 900;
      text-transform: capitalize;
      letter-spacing: 0;
      margin-bottom: 0;
      @include breakpoint(medium) {
        margin-top: 20px;
        line-height: 1.4;
      }
    }
    p {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}

// Footer
.footer {
  color: #fff;
  padding: 70px 0;
  text-align: center;
  &__image {
    max-width: 100px;
    margin: 0 auto;
    display: block;
  }
  &__email {
    color: #fff;

    &:hover {
      color: #e31617;
    }
  }
}

.bottom-module {
  padding: 10px 0;
  &__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;

    li {
      flex-grow: 1;
      border-right: 2px solid rgba(255, 255, 255, 0.62);

      &:last-child {
        border-right: none;
      }

      a {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

// Tabs
.tabs-content {
  border: none;
  .tabs-panel {
    padding: 0;
  }
}

.tabs {
  border: none;
  background: none;
  margin-bottom: 50px;
  @include breakpoint(medium) {
    margin-bottom: 0;
  }

  &-title {
    float: left;
    margin: 20px 15px 0 0;
  }

  .is-active a {
    color: #fff;
    background: #000;
  }

  a {
    padding: 10px 14px;
    background: 0 0;
    color: #000;
    border: 3px solid #000;
    font-size: 16px;
  }
}

// Layout
.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;

  &--centered {
    margin: 0 auto;
  }
}

.row {
  max-width: 100%;
}

.card.column {
  margin-bottom: 35px;
  @include breakpoint(medium) {
    margin-bottom: 35px;
  }
}

section {
  padding: 50px 0;
}

.section {
  &--full-height {
    min-height: 100vh;
  }
  &--horizontal-center {
    display: flex;
    align-content: center;
  }
}

.secondary {
  background-color: #0d0e10;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #fff;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.contact-module {
  &__text {
    text-align: center;
  }

  &__highlight {
    font-size: clamp(3rem, 7vw, 5rem);
  }

  &__buttons {
    max-width: 300px;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-around;
  }
}

// Home
#home__section-2 {
  background: url("/assets/img/home-mountain.jpg");
  background-position: 50% 100%;
  background-size: cover;
}

#home__section-4 {
  background: url("/assets/img/black-background-mountain.jpg");
  background-position: 50% 100%;
  background-size: cover;
  min-height: 565px;
}

// About
#about__section {
  &-2 {
    background: linear-gradient(45deg, #def0f4 0%, #b0cfd2 100%);
    padding-bottom: 0;
  }
  &-3 {
    padding: 50px 0;
    @include breakpoint(medium) {
      padding: 0;
    }

    .half-half-centered > div:first-child {
      margin-bottom: 50px;
    }

    @include breakpoint(medium) {
      .half-half-centered {
        margin: 0;
        > div {
          padding: 50px;
        }

        > div:last-child {
          border-left: 2px solid #000;
        }
      }
    }
  }

  &-4 {
    @include breakpoint(medium) {
      .section-4__text {
        padding-top: 50px;
        h2,
        p {
          text-align: left;
        }
      }
    }
  }
}

// Work
.gs-green {
  background: #e8efde;
}

.huga-blue {
  background: #d8eef9;
}

.firstcol-pink {
  background: #f7d2e6;
}

.half-half-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;

  &__text {
    padding: 20px 0;
    @include breakpoint(medium) {
      padding: 50px 0;
    }
  }

  @include breakpoint(medium) {
    flex-direction: row;
    margin: 50px 0;

    > div {
      width: 50%;
    }

    &__text {
      padding: 50px;
    }
  }
}

.work__conclusion {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
// Contact
.contact {
  &__buttons a {
    margin-right: 10px;
  }
}
