<section class="contact-module">
  <div class="row">
    <div class="small-10 small-centered contact-module__text">
      <h2 class="heading-xlarge">
        Let's <br />
        work <br />
        <span class="text--red-highlight contact-module__highlight"
          >together</span
        >
      </h2>
    </div>
    <div class="contact-module__buttons">
      <a class="button button--icon" href="mailto:ruben@design-talk.co.uk"
        ><i class="far fa-envelope"></i
      ></a>
      <a
        class="button button--icon"
        href="https://www.linkedin.com/in/ruben-kretek-ab296b13b/"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="button button--icon" href="https://github.com/rubenkretek"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
</section>
