<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
  <button class="menu-icon dark" type="button" data-toggle></button>
  <a href="/" class="title-bar__home-link">
    <img
      class="title-bar__logo"
      src="/assets/img/black-logo.svg"
      alt="Design talk logo"
    />
  </a>
</div>
<nav
  class="top-bar nav-container"
  id="main-nav"
  data-toggler
  data-animate="slide-in-down slide-out-up"
>
  <div class="top-bar-left">
    <ul
      class="menu expanded align-left medium-align-center vertical medium-horizontal"
    >
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
    </ul>
  </div>
  <div class="top-bar-center show-for-medium">
    <a href="/">
      <img
        class="nav-logo"
        src="/assets/img/black-logo.svg"
        alt="Design talk logo"
      />
    </a>
  </div>
  <div class="top-bar-right">
    <ul
      class="menu expanded align-left medium-align-center vertical medium-horizontal"
    >
      <li><a href="/">Home</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
  </div>
</nav>
