<div class="container">
  <div class="row small-up-1 medium-up-3 large-up-3">
    <div class="card column" data-aos="fade-up-right">
      <img class="card__image" src="/assets/img/gs-thumbnail.png" />
      <div class="card__text">
        <h3>Waste Clearance</h3>
        <p>
          Branding identity, <br />Bespoke WordPress website,<br />
          Custom quote form.
        </p>
        <a href="/work/gs-clearance.html" class="button">Read more</a>
      </div>
    </div>

    <div class="card column" data-aos="zoom-out-down">
      <img class="card__image" src="/assets/img/huga-thumbnail.png" />
      <div class="card__text">
        <h3>Marketing Agency</h3>

        <p>
          Branding Identity,<br />
          Static PHP website, <br />
          Print / Video / Merch collateral
        </p>

        <a href="/work/huga.html" class="button">Read more</a>
      </div>
    </div>

    <div class="card column" data-aos="fade-up-left">
      <img class="card__image" src="/assets/img/firstcol-thumbnail.png" />
      <div class="card__text">
        <h3>Care Agency</h3>
        <p>
          Job listings functionality,<br />
          Bespoke WordPress theme build,<br />
          Customer Training<br />
        </p>
        <a href="/work/firstcol.html" class="button">Read more</a>
      </div>
    </div>
  </div>
</div>
