{{!-- This is the base layout for your project, and will be used on every page
unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ruben Kretek – Web designer & Developer in West Sussex</title>
    <link rel="stylesheet" href="https://use.typekit.net/hob4mum.css" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="title-bar"
      data-responsive-toggle="main-nav"
      data-hide-for="medium"
    >
      <button class="menu-icon dark" type="button" data-toggle></button>
      <a href="/" class="title-bar__home-link">
        <img
          class="title-bar__logo"
          src="/assets/img/black-logo.svg"
          alt="Design talk logo"
        />
      </a>
    </div>
    <nav
      class="top-bar"
      id="main-nav"
      data-toggler
      data-animate="slide-in-down slide-out-up"
    >
      <div class="top-bar-left">
        <ul
          class="menu expanded align-left medium-align-center vertical medium-horizontal"
        >
          <li><a href="/about.html">About</a></li>
          <li><a href="/work.html">Work</a></li>
        </ul>
      </div>
      <div class="top-bar-center show-for-medium">
        <a href="/">
          <img
            class="nav-logo"
            src="/assets/img/black-logo.svg"
            alt="Design talk logo"
          />
        </a>
      </div>
      <div class="top-bar-right">
        <ul
          class="menu expanded align-left medium-align-center vertical medium-horizontal"
        >
          <li><a href="/">Home</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the
    flattened page is created. --}} {{> body}}
    <footer class="footer">
      <div class="row">
        <div class="small-10 small-centered medium-6">
          <img class="footer__image" src="/assets/img/white-logo.svg" />
        </div>
        <div class="small-10 small-centered medium-6">
          <a href="mailto:ruben@design-talk.co.uk">ruben@design-talk.co.uk</a>
        </div>
        <div class="small-10 small-centered medium-6">
          <ul class="footer__links">
            <li>
              <a href="https://www.linkedin.com/in/ruben-kretek-ab296b13b/"
                >LinkedIn</a
              >
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="/privacy-policy">Privacy</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
