{{!-- This is the base layout for your project, and will be used on every page
unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ruben Kretek – Web designer & Developer in West Sussex</title>
    <link rel="stylesheet" href="https://use.typekit.net/hob4mum.css" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="menu expanded align-center">
          <li><a href="/about.html">About</a></li>
          <li><a href="/work.html">Work</a></li>
        </ul>
      </div>
      <div class="top-bar-center">
        <a href="/">
          <img
            class="nav-logo"
            src="/assets/img/black-logo.svg"
            alt="Design talk logo"
          />
        </a>
      </div>
      <div class="top-bar-right">
        <ul class="menu expanded align-center">
          <li><a href="/">Home</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the
    flattened page is created. --}} {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
