{{!-- This is the base layout for your project, and will be used on every page
unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ruben Kretek – Web designer & Developer in West Sussex</title>
    <link rel="stylesheet" href="https://use.typekit.net/hob4mum.css" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />

    <script
      src="https://kit.fontawesome.com/73ee2bf7e1.js"
      crossorigin="anonymous"
    ></script>
    <!--Favicon-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/img/site.webmanifest" />
    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-config" content="/assets/img/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
  </head>
  <body>
    {{> nav}} {{> body}} {{> footer}}

    <script src="{{root}}assets/js/app.js"></script>
    
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
  // Global settings:
  
  

  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  duration: 500, // values from 0 to 3000, with step 50ms
  easing: 'ease-in-out-quart', // default easing for AOS animations
  once: false, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
    </script>
  </body>
</html>
